URxvt.perl-ext:
URxvt.perl-ext-common:

urxvt*transparent: true
urxvt*shading: 30
urxvt*fading: 20
!urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0200/c800

!urxvt*font: 9x15
!urxvt*font: xft:Terminus:Bold:size=12,xft:Code2000:antialias=false
!urxvt*font: -*-terminus-medium-*-*-*-*-140-*-*-*-*-iso8859-1
!urxvt*font: "xft:DejaVu Sans Mono:pixelsize=12"
!urxvt*boldFont: xft:Terminus:Bold:20
urxvt*font: xft:Inconsolata:size=12
urxvt*scrollBar: false
urxvt*scrollTtyOutput: false
urxvt*scrollWithBuffer: true
urxvt*scrollTtyKeypress: true
urxvt*saveLines: 2048
urxvt*internalBorder: 0
urxvt*externalBorder: 0

urxvt*foreground: rgb:a8/a8/a8
urxvt*background: rgb:00/00/00
urxvt*color0:  rgb:00/00/00
urxvt*color1:  rgb:a8/00/00
urxvt*color2:  rgb:00/a8/00
urxvt*color3:  rgb:a8/54/00
urxvt*color4:  rgb:00/00/a8
urxvt*color5:  rgb:a8/00/a8
urxvt*color6:  rgb:00/a8/a8
urxvt*color7:  rgb:a8/a8/a8
urxvt*color8:  rgb:54/54/54
urxvt*color9:  rgb:fc/54/54
urxvt*color10: rgb:54/fc/54
urxvt*color11: rgb:fc/fc/54
urxvt*color12: rgb:54/54/fc
urxvt*color13: rgb:fc/54/fc
urxvt*color14: rgb:54/fc/fc
urxvt*color15: rgb:fc/fc/fc
